In [4]:
import pandas as pd
import numpy as np

In [144]:
productos = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_products_dataset.csv")

clientes = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_customers_dataset.csv")

ordenes_items = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_order_items_dataset.csv")

pagos = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_order_payments_dataset.csv")

reseñas = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_order_reviews_dataset.csv")

ordenes = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_orders_dataset.csv")

vendedores = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_sellers_dataset.csv")

categorias = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/product_category_name_translation.csv")

In [145]:
print(productos.columns.values)

print(clientes.columns.values)

print(ordenes_items.columns.values)

print(pagos.columns.values)

print(reseñas.columns.values)

print(ordenes.columns.values)

print(vendedores.columns.values)

print(categorias.columns.values)

['product_id' 'product_category_name' 'product_name_lenght'
 'product_description_lenght' 'product_photos_qty' 'product_weight_g'
 'product_length_cm' 'product_height_cm' 'product_width_cm']
['customer_id' 'customer_unique_id' 'customer_zip_code_prefix'
 'customer_city' 'customer_state']
['order_id' 'order_item_id' 'product_id' 'seller_id' 'shipping_limit_date'
 'price' 'freight_value']
['order_id' 'payment_sequential' 'payment_type' 'payment_installments'
 'payment_value']
['review_id' 'order_id' 'review_score' 'review_comment_title'
 'review_comment_message' 'review_creation_date' 'review_answer_timestamp']
['order_id' 'customer_id' 'order_status' 'order_purchase_timestamp'
 'order_approved_at' 'order_delivered_carrier_date'
 'order_delivered_customer_date' 'order_estimated_delivery_date']
['seller_id' 'seller_zip_code_prefix' 'seller_city' 'seller_state']
['product_category_name' 'product_category_name_english']

In [7]:
ventas = ordenes_itmes

In [8]:
ventas.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [9]:
clientes.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [10]:
productos.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [11]:
categorias.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [12]:
productos_1 = pd.merge(productos, categorias, on="product_category_name", how="left")

In [13]:
productos_1.columns.values

array(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'product_category_name_english'], dtype=object)

In [14]:
productos_final = productos_1[['product_id', 'product_category_name', 'product_category_name_english']]

In [15]:
productos_final.head()

,product_id,product_category_name,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,housewares

In [16]:
vendedores.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [17]:
vendedores['seller_state'].unique()

array(['SP', 'RJ', 'PE', 'PR', 'GO', 'SC', 'BA', 'DF', 'RS', 'MG', 'RN',
       'MT', 'CE', 'PB', 'AC', 'ES', 'RO', 'PI', 'MS', 'SE', 'MA', 'AM',
       'PA'], dtype=object)

In [18]:
pagos.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [19]:
pagos = pagos.drop(columns = 'payment_sequential')

In [20]:
pagos.head()

,order_id,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,credit_card,2,128.45

In [21]:
reseñas.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [22]:
reseñas = reseñas.drop(columns = 'review_id')

In [23]:
reseñas.head()

,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [24]:
productos = productos_final

## Vamos a realizar una exploracion de los datos para revisar su calidad.

In [25]:
# Vision general de los datos

for df, name in [(productos, "productos"), (clientes, "clientes"),
                 (ventas, "ventas"), (pagos, "pagos"),
                 (reseñas, "reseñas"), (ordenes, "ordenes"), 
                 (vendedores, "vendedores"), (categorias, "categorias")]:
    print(f"\n{name.upper()} - Filas: {df.shape[0]} Columnas: {df.shape[1]}")

PRODUCTOS - Filas: 32951 Columnas: 3

CLIENTES - Filas: 99441 Columnas: 5

VENTAS - Filas: 112650 Columnas: 7

PAGOS - Filas: 103886 Columnas: 4

RESEÑAS - Filas: 99224 Columnas: 6

ORDENES - Filas: 99441 Columnas: 8

VENDEDORES - Filas: 3095 Columnas: 4

CATEGORIAS - Filas: 71 Columnas: 2

In [26]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [27]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [28]:
productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32341 non-null  object
 2   product_category_name_english  32328 non-null  object
dtypes: object(3)
memory usage: 772.4+ KB

In [29]:
vendedores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [30]:
ordenes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [31]:
pagos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_type          103886 non-null  object
 2   payment_installments  103886 non-null  int64
 3   payment_value         103886 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.2+ MB

In [32]:
reseñas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_id                 99224 non-null  object
 1   review_score             99224 non-null  int64
 2   review_comment_title     11568 non-null  object
 3   review_comment_message   40977 non-null  object
 4   review_creation_date     99224 non-null  object
 5   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.5+ MB

In [33]:
# Verificamos valores nulos

for df, name in [(productos, "productos"), (clientes, "clientes"),
                 (ventas, "ventas"), (pagos, "pagos"),
                 (reseñas, "reseñas"), (ordenes, "ordenes"), 
                 (vendedores, "vendedores"), (categorias, "categorias")]:
    print(f"\n{name.upper()} - Nulos:")
    print(df.isnull().sum())

PRODUCTOS - Nulos:
product_id                         0
product_category_name            610
product_category_name_english    623
dtype: int64

CLIENTES - Nulos:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

VENTAS - Nulos:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

PAGOS - Nulos:
order_id                0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

RESEÑAS - Nulos:
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

ORDENES - Nulos:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

VENDEDORES - Nulos:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

CATEGORIAS - Nulos:
product_category_name            0
product_category_name_english    0
dtype: int64

In [34]:
productos.shape

(32951, 3)

In [35]:
# Analizamos los nulos en productos
nulos_porcentaje = (productos.isnull().sum() / len(productos)) * 100

nulos_porcentaje

# Vemos que los nulos en cada columna corresponde al 1,9% aproximadamente.

product_id                       0.000000
product_category_name            1.851234
product_category_name_english    1.890686
dtype: float64

In [36]:
# Analizamos si es mejor elminiar las filas al ser un porcentaje tan bajo o utilizar la moda.

productos['product_category_name'].value_counts()

product_category_name
cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: count, Length: 73, dtype: int64

In [37]:
productos['product_category_name_english'].value_counts()

product_category_name_english
bed_bath_table               3029
sports_leisure               2867
furniture_decor              2657
health_beauty                2444
housewares                   2335
                             ...
tablets_printing_image          9
fashion_childrens_clothes       5
home_comfort_2                  5
security_and_services           2
cds_dvds_musicals               1
Name: count, Length: 71, dtype: int64

In [38]:
# No vemos ninguna categoria muy dominante (>75%), por lo cual no creemos que la moda sea la mejor opcion.
# Procedemos a eliminar las filas

productos = productos.dropna()

In [39]:
productos.isnull().sum()

product_id                       0
product_category_name            0
product_category_name_english    0
dtype: int64

In [140]:
# Vemos que la tabla de "productos" no tienen columna que indique el precio de venta y el costo de cada producto.

productos.columns.values

array(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm'], dtype=object)

In [146]:
ordenes_items.columns.values

# Vemos que el precio de venta de los prodcutos se encuentra en la tabla "ordenes_items"

array(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'], dtype=object)

In [187]:
# Vamos a calcular el precio_promedio_producto ahora te da el precio de venta de cada producto (asumiendo que se han podido vender a distintos precios).

precio_promedio_producto = ordenes_items.groupby('product_id')['price'].mean().round(2).reset_index()

precio_promedio_producto.rename(columns={'price': 'Precio Venta Promedio'}, inplace=True)

precio_promedio_producto.head()

                         product_id  Precio Venta Promedio
0  00066f42aeeb9f3007548bb9d3f33c38                 101.65
1  00088930e925c41fd95ebfe695fd2655                 129.90
2  0009406fd7479715e4bef61dd91f2462                 229.00
3  000b8f95fcb9e0096488278317764d19                  58.90
4  000d9be29b5207b54e86aa1b1ac54872                 199.00

In [188]:
precio_promedio_producto.isnull().sum()

product_id               0
Precio Venta Promedio    0
dtype: int64

In [189]:
# Dado que el costo real es desconocido, se utiliza un Costo de Venta Fijo (60% del precio).

precio_promedio_producto['Costo Producto'] = (precio_promedio_producto['Precio Venta Promedio'] * 0.60).round(2)

precio_promedio_producto.head()

                         product_id  Precio Venta Promedio  Costo Producto
0  00066f42aeeb9f3007548bb9d3f33c38                 101.65           60.99
1  00088930e925c41fd95ebfe695fd2655                 129.90           77.94
2  0009406fd7479715e4bef61dd91f2462                 229.00          137.40
3  000b8f95fcb9e0096488278317764d19                  58.90           35.34
4  000d9be29b5207b54e86aa1b1ac54872                 199.00          119.40

In [192]:
precio_promedio_producto.isnull().sum()

product_id               0
Precio Venta Promedio    0
Costo Producto           0
dtype: int64

In [190]:
productos = pd.merge(productos, precio_promedio_producto, how='left' , on='product_id')

productos.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Precio Venta Promedio,Costo Producto
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,10.91,6.55
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,248.00,148.80
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,79.80,47.88
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,112.30,67.38
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,37.90,22.74

In [198]:

precio_promedio_producto[precio_promedio_producto['product_id'] == '4244733e06e7ecb4970a6e2683c13e61'].head()

                            product_id  Precio Venta Promedio  Costo Producto
8628  4244733e06e7ecb4970a6e2683c13e61                  59.23           35.54

In [40]:
# Analizamos los nulos en reseñas

reseñas_nulos_porcentaje = (reseñas.isnull().sum() / len(reseñas)) * 100

reseñas_nulos_porcentaje

order_id                    0.000000
review_score                0.000000
review_comment_title       88.341530
review_comment_message     58.702532
review_creation_date        0.000000
review_answer_timestamp     0.000000
dtype: float64

In [41]:
# En este caso al ser porcentajes tan altos vamos a reemplazar los nulos con: "Sin Título" y "Sin Comentario".

reseñas['review_comment_title'] = reseñas['review_comment_title'].fillna('Sin título')
reseñas['review_comment_message'] = reseñas['review_comment_message'].fillna('Sin Comentario')

In [42]:
reseñas.isnull().sum()

order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [43]:
# Analizamos los nulos en productos
ordenes_nulos_porcentaje = (ordenes.isnull().sum() / len(ordenes)) * 100

ordenes_nulos_porcentaje

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.160899
order_delivered_carrier_date     1.793023
order_delivered_customer_date    2.981668
order_estimated_delivery_date    0.000000
dtype: float64

In [44]:
# Los valores de datos faltantes son muy bajos (< 3%) por lo cual eliminaremos las filas.
# En este caso tampoco tiene sentido tratar de utilizar un estadistico ya que son valores de fechas.

ordenes = ordenes.dropna()

In [45]:
ordenes.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [46]:
# Verificamos valores duplicados

for df, name in [(productos, "productos"), (clientes, "clientes"), (ventas, "ventas"), (ordenes, "ordenes")]:
    print(f"{name}: {df.duplicated().sum()} duplicados")

productos: 0 duplicados
clientes: 0 duplicados
ventas: 0 duplicados
ordenes: 0 duplicados

In [47]:
# Verificamos que esten los id claves para poder relacionar las tablas

missing_products = ventas[~ventas["product_id"].isin(productos["product_id"])]
print("Productos no encontrados:", missing_products.shape[0])

Productos no encontrados: 1627

##### Vemos que hay 1.627 productos no encontrados, por lo cual entendemos que las filas que borramos de procutos afectaron a la itegridad y calidad de los datos por lo cual vamos a recuperar las filas y reemplazar con la moda.

In [48]:
productos.shape

(32328, 3)

In [49]:
productos_final.shape

(32951, 3)

In [50]:
productos_final.head()

,product_id,product_category_name,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,housewares

In [51]:
productos_2 = productos_final

productos_2.shape

(32951, 3)

In [52]:
moda_1 = productos_2['product_category_name'].mode()[0]

moda_2 = productos_2['product_category_name_english'].mode()[0]

print(moda_1)
print(moda_2)

cama_mesa_banho
bed_bath_table

In [53]:
productos_2['product_category_name'] = productos_2['product_category_name'].fillna(moda_1)

productos_2['product_category_name_english'] = productos_2['product_category_name_english'].fillna(moda_2)

C:\Users\nicol\AppData\Local\Temp\ipykernel_32440\3164095720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  productos_2['product_category_name'] = productos_2['product_category_name'].fillna(moda_1)
C:\Users\nicol\AppData\Local\Temp\ipykernel_32440\3164095720.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  productos_2['product_category_name_english'] = productos_2['product_category_name_english'].fillna(moda_2)

In [54]:
productos_2.isnull().sum()

product_id                       0
product_category_name            0
product_category_name_english    0
dtype: int64

In [55]:
# Analisis general del precio y costo de flete

ventas[["price", "freight_value"]].describe()

               price  freight_value
count  112650.000000  112650.000000
mean      120.653739      19.990320
std       183.633928      15.806405
min         0.850000       0.000000
25%        39.900000      13.080000
50%        74.990000      16.260000
75%       134.900000      21.150000
max      6735.000000     409.680000

In [56]:
# Analisis general de variables categóricas

print(pagos["payment_type"].value_counts())
print(ordenes["order_status"].value_counts())
print(productos_2["product_category_name"].value_counts().head(10))

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64
order_status
delivered    96455
canceled         6
Name: count, dtype: int64
product_category_name
cama_mesa_banho           3639
esporte_lazer             2867
moveis_decoracao          2657
beleza_saude              2444
utilidades_domesticas     2335
automotivo                1900
informatica_acessorios    1639
brinquedos                1411
relogios_presentes        1329
telefonia                 1134
Name: count, dtype: int64

In [57]:
ordenes.columns.values

array(['order_id', 'customer_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date'], dtype=object)

In [58]:
# Analisis de fechas

ordenes["order_purchase_timestamp"] = pd.to_datetime(ordenes["order_purchase_timestamp"])
ordenes["order_delivered_customer_date"] = pd.to_datetime(ordenes["order_delivered_customer_date"])
ordenes["order_delivered_carrier_date"] = pd.to_datetime(ordenes["order_delivered_carrier_date"])
ordenes["order_estimated_delivery_date"] = pd.to_datetime(ordenes["order_estimated_delivery_date"])

In [59]:
ordenes['año'] = ordenes['order_purchase_timestamp'].dt.year
ordenes['mes'] = ordenes['order_purchase_timestamp'].dt.month

In [60]:
# Calculamos cantidad de dias de entrega y hacemos analisis general

ordenes["dias_entrega"] = (ordenes["order_delivered_customer_date"] - ordenes["order_purchase_timestamp"]).dt.days
print(ordenes["dias_entrega"].describe())

count    96461.000000
mean        12.093582
std          9.551576
min          0.000000
25%          6.000000
50%         10.000000
75%         15.000000
max        209.000000
Name: dias_entrega, dtype: float64

In [61]:
ordenes.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,año,mes,dias_entrega
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,2017,10,8
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,2018,7,13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,2018,8,9
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,2017,11,13
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2018,2,2

In [62]:
ticket_promedio = ventas.groupby('order_id')["price"].sum().mean()
print(f"Ticket promedio: {ticket_promedio:.2f}")

Ticket promedio: 137.75

In [63]:
# Decargamos nuevas tablas limpias para importar a POWER BI

# ventas.to_csv('ventas.csv', index=False)
# clientes.to_csv('clientes.csv', index=False)
# productos_2.to_csv('productos.csv', index=False)
# vendedores.to_csv('vendedores.csv', index=False)
# ordenes.to_csv('ordenes.csv', index=False)
# pagos.to_csv('pagos.csv', index=False)
# reseñas.to_csv('reseñas.csv', index=False)

## Al relacionar las tablas en POWER BI detectamos que hay ordenes que no se pueden localizar el estado en donde fue la compra, creemos que esto se debe al haber eliminado algunas filas de la tabla "ordenes" por lo que vamos  a recuperar esas filas.

In [65]:
ordenes_2 = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/olist_orders_dataset.csv")

In [66]:
ordenes_2.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [67]:
ordenes_nulos_Porc_2 = (ordenes_2.isnull().sum() / len(ordenes_2)) * 100

ordenes_nulos_Porc_2

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.160899
order_delivered_carrier_date     1.793023
order_delivered_customer_date    2.981668
order_estimated_delivery_date    0.000000
dtype: float64

In [68]:
ordenes_2["order_purchase_timestamp"] = pd.to_datetime(ordenes_2["order_purchase_timestamp"])
ordenes_2["order_delivered_customer_date"] = pd.to_datetime(ordenes_2["order_delivered_customer_date"])
ordenes_2["order_delivered_carrier_date"] = pd.to_datetime(ordenes_2["order_delivered_carrier_date"])
ordenes_2["order_estimated_delivery_date"] = pd.to_datetime(ordenes_2["order_estimated_delivery_date"])

In [69]:
ordenes_2['año'] = ordenes_2['order_purchase_timestamp'].dt.year
ordenes_2['mes'] = ordenes_2['order_purchase_timestamp'].dt.month

In [70]:
ordenes_2["dias_entrega"] = (ordenes_2["order_delivered_customer_date"] - ordenes_2["order_purchase_timestamp"]).dt.days
print(ordenes_2["dias_entrega"].describe())

count    96476.000000
mean        12.094086
std          9.551746
min          0.000000
25%          6.000000
50%         10.000000
75%         15.000000
max        209.000000
Name: dias_entrega, dtype: float64

In [71]:
# ordenes_2.to_csv('ordenes.csv', index=False)

### Quiero saber cual es la ciudad y el estado con mas ventas.

In [72]:
ordenes_filtrado = ordenes_2[['order_id', 'customer_id']]

In [73]:
ventas_union = pd.merge(ventas, ordenes_filtrado, on="order_id", how="left")

In [74]:
ventas_union.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795

In [75]:
clientes.columns.values

array(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'], dtype=object)

In [76]:
clientes_filtrado = clientes[['customer_id', 'customer_state', 'customer_city']]

In [77]:
ventas_union = pd.merge(ventas_union, clientes_filtrado, on="customer_id", how="left")

In [78]:
ventas_union.columns.values

array(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'customer_state', 'customer_city'], dtype=object)

In [79]:
ventas_union['customer_city'] = ventas_union['customer_city'].str.strip()
ventas_union['customer_city'] = ventas_union['customer_city'].str.lower()

In [80]:
print(ventas_union['customer_city'].isnull().sum())

0

In [81]:
ventas_por_ciudad = ventas_union.groupby('customer_city')['price'].sum().sort_values(ascending=False)

print(ventas_por_ciudad)

customer_city
sao paulo                       1914924.54
rio de janeiro                   992538.86
belo horizonte                   355611.13
brasilia                         301920.25
curitiba                         211738.06
                                   ...
jenipapo de minas                     7.48
santo antonio do rio abaixo           6.00
senador jose porfirio                 6.00
sabaudia                              5.90
polo petroquimico de triunfo          5.60
Name: price, Length: 4110, dtype: float64

In [82]:
ventas_por_estado = ventas_union.groupby('customer_state')['price'].sum().sort_values(ascending=False)

print(ventas_por_estado)

customer_state
SP    5202955.05
RJ    1824092.67
MG    1585308.03
RS     750304.02
PR     683083.76
SC     520553.34
BA     511349.99
DF     302603.94
GO     294591.95
ES     275037.31
PE     262788.03
CE     227254.71
PA     178947.81
MT     156453.53
MA     119648.22
MS     116812.64
PB     115268.08
PI      86914.08
RN      83034.98
AL      80314.81
SE      58920.85
TO      49621.74
RO      46140.64
AM      22356.84
AC      15982.95
AP      13474.30
RR       7829.43
Name: price, dtype: float64

In [83]:
ventas_union.shape

(112650, 10)

In [84]:
ventas_union['price'].sum()

13591643.700000003

In [85]:
ventas_union['freight_value'].sum()

2251909.54

In [86]:
#ventas_union.to_csv('ventas.csv', index=False)

In [87]:
ventas['price'].sum()

13591643.700000003

### Vamos a verificar si hay ordenes duplicadas que puedan estar afectando al calculo en POWER BI ya que nos da diferente al resultado de Pyhton.

In [88]:
ventas_union['order_id'].duplicated().sum()

13984

In [89]:
ventas_union[ventas_union['order_id'].duplicated()]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,customer_state,customer_city
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37,2355af7c75e7c98b43a87b2a7f210dc5,SP,jandira
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10,2e45292979b9b2700ea09560eeb0f803,GO,goiania
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10,2e45292979b9b2700ea09560eeb0f803,GO,goiania
43,001ab0a7578dd66cd4b0a71f5b6e1e41,2,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63,8bb3bef4e75a95524235cdc11a7331af,BA,salvador
44,001ab0a7578dd66cd4b0a71f5b6e1e41,3,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63,8bb3bef4e75a95524235cdc11a7331af,BA,salvador
...,...,...,...,...,...,...,...,...,...,...
112617,ffecd5a79a0084f6a592288c67e3c298,3,50fd2b788dc166edd20512370dac54df,8b321bb669392f5163d04c59e235e066,2018-03-05 20:15:27,21.90,15.79,8afa5a415d65a08e3a68b1d7f9ddd8a5,BA,salvador
112635,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14,6c1e92a209dbf868706caa831090941e,PB,joao pessoa
112641,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,PE,serra talhada
112642,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,PE,serra talhada
112643,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,PE,serra talhada

In [90]:
ventas_union['order_id'].duplicated().sum()

13984

In [91]:
filas_duplicadas = ventas_union[ventas_union.duplicated(subset=['order_id', 'order_item_id'])]

In [92]:
filas_duplicadas.shape

(0, 10)

#### No existen filas duplicadas ni ordendes duplicadas ya que aunque se repita el 'order_id' no se repite el 'order_item_id'. El 'order_id' se repite porque si en una orden se compran varios podructos se reigstra una linea por cada unidad. El 'order_item_id' es un número secuencial que identifica cada artículo dentro de una misma orden, por lo cual cada combinacion de 'order_id' y 'order_item:id' es unica como comprobamos.

In [93]:
ventas['price'].sum()

13591643.700000003

In [94]:
ventas['price'].head()

0     58.90
1    239.90
2    199.00
3     12.99
4    199.90
Name: price, dtype: float64

In [95]:
print(ventas.shape)  # ¿Cuántas filas hay?
print(ventas['price'].sum())

(112650, 7)
13591643.700000003

In [96]:
print(len(ventas))

112650

In [97]:
print(ventas['price'].isnull().sum())

0

In [98]:
print("Total en Python:", ventas['price'].sum())
print("Número de filas:", len(ventas))

Total en Python: 13591643.700000003
Número de filas: 112650

## Power BI estaba leyendo mal los datos por lo que voy a descargarlos como xlsx para ver si los lee de forma correcta.

In [99]:
#ordenes_2.to_excel('ordenes.xlsx', index=False)
#ventas_union.to_excel('ventas_union.xlsx', index=False)
#clientes.to_excel('clientes.xlsx', index=False)
#productos_2.to_excel('productos.xlsx', index=False)
#vendedores.to_excel('vendedores.xlsx', index=False)
#pagos.to_excel('pagos.xlsx', index=False)
#reseñas.to_excel('reseñas.xlsx', index=False)

In [100]:
reseñas.shape

(99224, 6)

In [101]:
reseñas.columns.values

array(['order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'], dtype=object)

In [102]:
reseñas['review_score'].isnull().sum()

0

In [103]:
productos_2.columns.values

array(['product_id', 'product_category_name',
       'product_category_name_english'], dtype=object)

In [104]:
ventas_union.columns.values

array(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'customer_state', 'customer_city'], dtype=object)

In [105]:
# Calculamos cuantos productos se vendieron de cada tipo.

ordenes_por_producto = ventas_union.groupby('product_id')['order_item_id'].count()
print(ordenes_por_producto.sort_values(ascending=False))

product_id
aca2eb7d00ea1a7b8ebd4e68314663af    527
99a4788cb24856965c36a24e339b6058    488
422879e10f46682990de24d770e7f83d    484
389d119b48cf3043d311335e499d9c6b    392
368c6c730842d78016ad823897a372db    388
                                   ...
6ca99f05e9c1952a6597264e87f01378      1
6ca54e191592a843087a042b0665d7ef      1
6ca5428af5edb5066b1966ad58501b60      1
6ca32b4631431cb1fe976880797a0f5c      1
fffe9eeff12fcbd74a2f2b007dde0c58      1
Name: order_item_id, Length: 32951, dtype: int64

In [106]:
# Calculamos el número de órdenes ÚNICAS por cada producto (en cuantos pedidos diferentes esta cada producto)

ordenes_unicas_por_producto = ventas_union.groupby('product_id')['order_id'].nunique()
print(ordenes_unicas_por_producto.sort_values(ascending=False))

product_id
99a4788cb24856965c36a24e339b6058    467
aca2eb7d00ea1a7b8ebd4e68314663af    431
422879e10f46682990de24d770e7f83d    352
d1c427060a0f73f6b889a5c7c61f2ac4    323
389d119b48cf3043d311335e499d9c6b    311
                                   ...
69c58bb97c8d7b75fad9e6c1d391fda6      1
69c3a9ec3f1094ad11505df27ddad569      1
69c2f05e34d543dc71cfe745bfac8499      1
69c2cca014581e7e3756142963a69313      1
fffe9eeff12fcbd74a2f2b007dde0c58      1
Name: order_id, Length: 32951, dtype: int64

In [107]:
# categorias_2 = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyecto Personal/categorias_limpias.csv", encoding='cp1252')

In [108]:
pip install chardet

Requirement already satisfied: chardet in c:\users\nicol\anaconda3\lib\site-packages (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [113]:
import chardet

# Paso 1: Abrir el archivo en modo binario ('rb') para detectar la codificación
with open("C:/Users/nicol/OneDrive/Escritorio//Proyectos/Proyecto 1/categorias_limpias.csv", 'rb') as f:
    result = chardet.detect(f.read())

# Paso 2: Usar la codificación detectada para leer el archivo con Pandas
encoding = result['encoding']
print(f"Codificación detectada: {encoding}")

# Paso 3: Intentar leer el CSV con la codificación detectada
try:
    categorias_2 = pd.read_csv("C:/Users/nicol/OneDrive/Escritorio/Proyectos/Proyecto 1/categorias_limpias.csv", encoding=encoding)
    print("Archivo leído con éxito!")
    print(categorias_2.head())
except Exception as e:
    print(f"Error al leer el archivo con la codificación '{encoding}': {e}")

Codificación detectada: ISO-8859-1
Error al leer el archivo con la codificación 'ISO-8859-1': Error tokenizing data. C error: Expected 1 fields in line 10999, saw 2

In [114]:
categorias_2 = pd.read_csv("categorias_limpias.csv", encoding='ISO-8859-1', sep=';')

In [115]:
categorias_2.head()

,product_id,prdouct_name,categoria,categoria_id,subcategoria
0,14aa47b7fe5c25522b47b4b29c98dcb9,bed_bath_table,Hogar y Construcción,1,Muebles y Decoración
1,f53103a77d9cf245e579ea37e5ec51f0,bed_bath_table,Hogar y Construcción,1,Muebles y Decoración
2,518ef5de2c2b3a255e326a4594ba15d9,bed_bath_table,Hogar y Construcción,1,Muebles y Decoración
3,47859fca9dd7485cbd93c3e8993bb74f,bed_bath_table,Hogar y Construcción,1,Muebles y Decoración
4,db46052aed7dff59ba38cf2fe29b87f9,bed_bath_table,Hogar y Construcción,1,Muebles y Decoración

In [116]:
ventas_union.columns.values

array(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'customer_state', 'customer_city'], dtype=object)

In [117]:
ventas_union_categorias = pd.merge(ventas_union, categorias_2, on='product_id', how='left')

In [118]:
ventas_union_categorias.columns.values

array(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'customer_id',
       'customer_state', 'customer_city', 'prdouct_name', 'categoria',
       'categoria_id', 'subcategoria'], dtype=object)

In [119]:
ventas_union_categorias.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,customer_state,customer_city,prdouct_name,categoria,categoria_id,subcategoria
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,RJ,campos dos goytacazes,cool_stuff,Ocio y Cultura,5,Deportes y Ocio
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,SP,santa fe do sul,pet_shop,Consumo y Mascotas,7,Mascotas
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,MG,para de minas,furniture_decor,Hogar y Construcción,1,Muebles y Decoración
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,SP,atibaia,perfumery,Salud y Bienestar,4,Salud y Belleza
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,SP,varzea paulista,garden_tools,Hogar y Construcción,1,"Construcción, Herramientas y Seguridad"

In [120]:
# Cantidad vendida por categorias

ventas_categorias = ventas_union_categorias.groupby('categoria')['order_item_id'].count()
print(ventas_categorias.sort_values(ascending=False))

categoria
Hogar y Construcción                36602
Ocio y Cultura                      18827
Tecnología y Electrónica            16898
Salud y Bienestar                   16193
Moda y Accesorios                    9725
Oficina y Negocios                   4787
Servicios, Vehículos y Temporada     4632
Consumo y Mascotas                   3359
Otros                                1627
Name: order_item_id, dtype: int64

In [121]:
# Cantidad vendida por subcategorias

ventas_subcategoria = ventas_union_categorias.groupby('subcategoria')['order_item_id'].count()
print(ventas_subcategoria.sort_values(ascending=False))

subcategoria
Muebles y Decoración                      20099
Deportes y Ocio                           17467
Salud y Belleza                           13089
Electrónica e Informática                 12089
Hogar, Cocina y Electrodomésticos          9784
Moda y Accesorios                          9725
Construcción, Herramientas y Seguridad     6719
Telefonía y Comunicaciones                 4809
Vehículos y Accesorios                     4235
Oficina y Papelería                        4208
Bebé y Crianza                             3104
Mascotas                                   1947
Otros                                      1627
Música, Cine y Libros                      1360
Alimentos y Bebidas                        1167
Negocios e Industria / Marketplace          579
Flores y Jardinería                         245
Seguridad y Servicios                       201
Temporada y Fiesta                          196
Name: order_item_id, dtype: int64

In [122]:
# Cantidad vendida por productos

ventas_productos = ventas_union_categorias.groupby('prdouct_name')['order_item_id'].count()
print(ventas_productos.sort_values(ascending=False))

prdouct_name
bed_bath_table               11115
health_beauty                 9670
sports_leisure                8641
furniture_decor               8334
computers_accessories         7827
                             ...
arts_and_craftmanship           24
la_cuisine                      14
cds_dvds_musicals               14
fashion_childrens_clothes        8
security_and_services            2
Name: order_item_id, Length: 71, dtype: int64

In [123]:
ventas_union_categorias['prdouct_name'].isnull().sum()

1627

In [124]:
ventas_union_categorias['order_item_id'].count()

112650

In [125]:
clientes.columns.values

array(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'], dtype=object)

In [126]:
ventas_union_categorias['customer_id'].nunique()

98666

In [127]:
clientes.columns.values

array(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'], dtype=object)

In [128]:
clientes_filtrado = clientes[['customer_id', 'customer_unique_id']]

In [129]:
ventas_union_final = pd.merge(ventas_union_categorias, clientes_filtrado, on='customer_id', how='left')

In [130]:
opc = ventas_union_final.groupby('customer_unique_id')['order_id'].nunique()

clientes_recurrentes = (opc > 1).sum()
clientes_1_compra    = (opc == 1).sum()

print("Clientes recurrentes:", clientes_recurrentes)
print("Clientes 1 compra:", clientes_1_compra)

Clientes recurrentes: 2913
Clientes 1 compra: 92507

In [131]:
clientes_totales = ventas_union_final['customer_unique_id'].nunique()
print("Clientes totales:", clientes_totales)

Clientes totales: 95420

### Queremos verificar el resultado de entregas atrasadas que nos dio la medida de POWER BI.

In [132]:
ventas_union_final["shipping_limit_date"] = pd.to_datetime(ventas_union_final["shipping_limit_date"])
ordenes_2["order_delivered_customer_date"] = pd.to_datetime(ordenes_2["order_delivered_customer_date"])

In [133]:
df_atrasos = ventas_union_final.merge(ordenes_2[["order_id", "order_delivered_customer_date"]], on="order_id", how="left")

In [134]:
df_atrasos["atrasado"] = (df_atrasos["order_delivered_customer_date"] > df_atrasos["shipping_limit_date"]).astype(int)

In [135]:
df_atrasos[['order_delivered_customer_date', 'shipping_limit_date', 'atrasado']].head(20)

   order_delivered_customer_date shipping_limit_date  atrasado
0            2017-09-20 23:43:48 2017-09-19 09:45:35         1
1            2017-05-12 16:04:24 2017-05-03 11:05:13         1
2            2018-01-22 13:19:16 2018-01-18 14:48:30         1
3            2018-08-14 13:32:39 2018-08-15 10:10:18         0
4            2017-03-01 16:42:31 2017-02-13 13:57:51         1
5            2017-05-22 13:44:35 2017-05-23 03:55:27         0
6            2017-12-18 22:03:38 2017-12-14 12:10:31         1
7            2018-07-09 14:04:07 2018-07-10 12:30:45         0
8            2018-03-29 18:17:31 2018-03-26 18:31:29         1
9            2018-07-04 17:28:31 2018-07-06 14:10:56         0
10           2018-03-29 00:04:19 2018-03-29 22:28:09         0
11           2018-08-07 13:56:52 2018-07-31 17:30:39         1
12           2018-07-31 01:04:15 2018-07-26 17:24:20         1
13           2018-02-26 13:55:22 2018-02-21 02:55:52         1
14           2018-02-26 13:55:22 2018-02-21 02:55:52         1
15           2018-08-22 12:02:27 2018-08-17 12:15:10         1
16           2018-04-30 17:54:25 2018-05-02 09:31:53         0
17           2018-05-18 16:46:31 2018-05-16 20:57:03         1
18           2017-08-19 15:22:17 2017-08-21 03:33:13         0
19           2018-03-12 18:46:34 2018-02-28 12:08:37         1

In [136]:
# Porcentaje de atrasadas
porcentaje_atrasadas = df_atrasos["atrasado"].mean()
print("Porcentaje entregas atrasadas:", porcentaje_atrasadas)
print("Formato porcentaje:", f"{porcentaje_atrasadas:.2%}")

Porcentaje entregas atrasadas: 0.7739280958721705
Formato porcentaje: 77.39%